html {
  font-size: 14px;
  font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

.u-nomargin {
  margin: 0 !important;
}

.connected-identity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.connected-identity__user {
  text-align: right;
}

.spacer{
  margin: 15px 0;
}

.form-blur {
  position: relative;
}
.form-blur::before {
  content: "";
  position: absolute;
  inset: 5px;
  backdrop-filter: blur(5px);
  pointer-events: all; 
  z-index: 10;
}