body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #f5f5f5;
}

#g_id_onload, .g_id_signin {
  margin-bottom: 20px;
}

#user-info {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
}

form {
  margin-bottom: 10px;
}

.qby {
    color: red;
}