/* Elements */
:root {
  --p-tooltip-max-width: 500px;
}

html {
  font-size: 14px;
  font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

ul {
  padding-left: 15;
}

fieldset {
  border: none;
}

/* Classes */

.p-toolbar {
  container-type: inline-size;
}

.connected-identity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.connected-identity__user {
  text-align: right;
}

.spacer {
  margin: 15px 0;
}

.form-blur {
  position: relative;
}

.form-blur::before {
  content: "";
  position: absolute;
  inset: 5px;
  backdrop-filter: blur(5px);
  pointer-events: all;
  z-index: 10;
}

.over-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.brand-logo {
  width: 180px;
  margin: auto;
}

/* MediaQueries */

@media (min-width: 1250) {
  .content-md-min {
    width: 50%;
    margin: auto;
  }
}


@container (width: 900px) {
  .brand-logo {
    width: 10%;
    margin: auto;
  }
}

/* Utils */
.u-nomargin {
  margin: 0 !important;
}