html {
    font-size: 14px;
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol';
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }

  .connected-identity {
    display: flex;
  }

  .connected-identity__user {
    margin-right: 10px;
  }

  .spacer{
    margin: 15px 0;
  }